<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Personas</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<!-- Page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="../static/css/icons.min.css" rel="stylesheet"
	type="text/css" th:href="@{/css/icons.min.css}" />
<link href="../static/css/app.min.css" rel="stylesheet" type="text/css"
	th:href="@{/css/app.min.css}" />


<!-- Bootstrap CSS -->
<!-- Include JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
	integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	crossorigin="anonymous"></script> -->
<!-- <script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
	integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	crossorigin="anonymous"></script>-->
<!--<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>-->

</head>
<body>
	<!-- MENSAJES -->
	<div class="alert alert-success alert-dismissable"
		th:if="${success != null}">
		<label th:text="${success}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-danger alert-dismissable"
		th:if="${error != null}">
		<label th:text="${error}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-warning alert-dismissable"
		th:if="${warning != null}">
		<label th:text="${warning}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<div class="alert alert-info alert-dismissable" th:if="${info != null}">
		<label th:text="${info}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>

	<!-- Begin page -->
	<div id="wrapper">

		<!-- ============================================================== -->
		<!-- Start Page Content here -->
		<!-- ============================================================== -->

		<div class="content-page">
			<div class="content">

				<!-- Topbar Start -->
				<div class="navbar-custom">
					<a href="/inicio"> <b style="color: white; font-size: 25px;">Dashboard
							Administrativo de Productos y/o Personal</b>
					</a>

					<button type="button"
						class="btn btn-sm btn-dark d-inline-block d-lg-none button-menu-mobile">Menu</button>

					<div class="badge badge-success float-right">
						<form th:action="@{/logout}" method="post">
							<h5 th:inline="text" style="display: inline-block;">
								Hola <b style="text-transform: capitalize;">
									[[${#httpServletRequest.remoteUser}]]</b>
							</h5>
							<b>&nbsp;&nbsp;&nbsp;&nbsp;</b> <input type="submit"
								class="btn btn-outline-light btn-sm"
								style="display: inline-block;" value="Cerrar Sesion" />
						</form>
					</div>
				</div>
				<!-- end Topbar -->

				<!-- Start Content-->
				<div class="container-fluid">

					<div class="page-wrapper">
						<div class="left-sidebar">
							<div class="slimscroll-menu">
								<div class="list-group list-group-transparent mb-0">

									<span class="list-group-item disabled"> PERSONAS </span> <a
										href="/inicio" class="list-group-item list-group-item-action">
										<span class="mr-2"> <i class="mdi mdi-apps"></i>
									</span>Lista de Personas
									</a> <a href="/save/0"
										class="list-group-item list-group-item-action active"> <span
										class="mr-2"> <i class="mdi mdi-flag-variant-outline"></i>
									</span>Registro de Personas
									</a> <span class="list-group-item disabled"> PRODUCTOS </span> <a
										href="#" class="list-group-item list-group-item-action"> <span
										class="mr-2"> <i class="mdi mdi-apps"></i>
									</span>Lista de Productos
									</a> <a href="#" class="list-group-item list-group-item-action ">
										<span class="mr-2"> <i class="mdi mdi-apps"></i>
									</span>Registro de Productos
									</a> <span class="list-group-item disabled"> Otros </span> <a
										href="seed-projects.html"
										class="list-group-item list-group-item-action "> <span
										class="mr-2"> <i class="mdi mdi-menu"></i>
									</span>Paises
									</a> <a href="changelog.html"
										class="list-group-item list-group-item-action "> <span
										class="mr-2"> <i class="mdi mdi-menu"></i>
									</span>Departamentos
									</a> <a href="changelog.html"
										class="list-group-item list-group-item-action "> <span
										class="mr-2"> <i class="mdi mdi-menu"></i>
									</span>Distrito
									</a> <a href="changelog.html"
										class="list-group-item list-group-item-action "> <span
										class="mr-2"> <i class="mdi mdi-menu"></i>
									</span>Ciudad
									</a>
								</div>
							</div>
						</div>
						<!-- end left-sidebar-->

						<div class="page-content">
							<div class="card m-b-30">
								<div class="card-body">
									<div class="p-lg-3">
										<div class="container">
											<br>
											<h2>Agregar Persona</h2>
											<br>
											<form action="#" th:action="@{/save}" class="form-group"
												th:object="${persona}" method="post">

												<input type="hidden" th:field="*{id}" id="id" name="id">

												<div class="form-group">
													<label for="nombre">Nombre</label> <input type="text"
														class="form-control" id="nombre" th:field="*{nombre}"
														name="nombre"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"> </small>
												</div>
												<div class="form-group">
													<label for="apellido">Apellido</label> <input type="text"
														class="form-control" id="apellido" th:field="*{apellido}"
														name="apellido"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellido')}"
														th:errors="*{apellido}"> </small>
												</div>
												<div class="form-group">
													<label for="direccion">Direccion</label> <input type="text"
														class="form-control" id="direccion"
														th:field="*{direccion}" name="direccion"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('direccion')}"
														th:errors="*{direccion}"> </small>
												</div>
												<div class="form-group">
													<label for="telefono">Telefono</label> <input type="text"
														class="form-control" id="telefono" th:field="*{telefono}"
														name="telefono"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('telefono')}"
														th:errors="*{telefono}"> </small>
												</div>
												<div class="form-group">
													<label for="email">Email</label> <input type="text"
														class="form-control" id="email" th:field="*{email}"
														name="email"> <small class="form-text text-danger"
														th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
													</small>
												</div>
												<div class="form-group">
													<label for="pais">Pa&iacute;s</label> <select
														th:field="*{pais}" class="form-control" id="pais">
														<option value="0">Seleccione</option>
														<option th:each="pai:${listPaises}" th:value="${pai.id}"
															th:text="${pai.nombre}" />
													</select>
													 <small class="form-text text-danger"
														th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
												</div>
												<div class="form-group">
													<label for="ciu">Ciudad</label> <select th:field="*{ciu}"
														class="form-control" id="ciu">
														<option th:each="c:${listCius}" th:value="${c.id}"
															th:text="${c.nombre}" />
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('ciu')}" th:errors="*{ciu}"></small>
												</div>
												<button type="submit" class="btn btn-success">Guardar</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end page-wrapper-->

			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-10"></div>
			</div>

			<!-- content -->
			<!-- Footer Start -->
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">2020 © Cibertec - by Gerson, Alvaro,
							Christian</div>
					</div>
				</div>
			</footer>
			<!-- end Footer -->

		</div>
		<!-- ============================================================== -->
		<!-- End Page content -->
		<!-- ============================================================== -->
	</div>
	<!-- END wrapper -->

	<!-- bundle -->
	<script type="text/javascript"
		src="../static/js/jquery-3.2.1.slim.min.js"
		th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/app.min.js"
		th:src="@{/js/app.min.js}"></script>
	<script type="text/javascript" src="../static/js/popper.min.js"
		th:src="@{/js/popper.min.js}"></script>
	<!-- <script src="//zeptojs.com/zepto.min.js"></script>
    <script src="//cdn.kik.com/app/2.0.1/app.min.js"></script> -->

	<script>
		$(document).ready(
		//console.log('logo')

		$('#pais').change(loadCiudades)

		//$('#ciu').html('<option value="0">Primero seleccione un País</option>')
		//$.proxy(loadCiudades, $('#pais'))();

		);

		var pais = document.getElementById("pais").value;

		if (pais == 0) {
			document.getElementById("ciu").innerHTML = '<option value="0">Primero seleccione un Pa&iacute;s</option>';

		} else {
			var c = document.getElementById("ciu").value;
			loadCiudades();

			setTimeout(function() {
				document.getElementById("ciu").value = c;
			}, 500);
		}

		function loadCiudades() {
			$.getJSON("http://localhost:8085/ciudades", {
				id : $('#pais').val(),
				ajax : 'true'
			}, function(data) {
				console.log("pais onchange " + $('#pais').val());

				var html = '<option value="">Selecciona Ciudad</option>';
				var len = data.length;
				for (var i = 0; i < len; i++) {

					if (data[i].pais.id == $('#pais').val()) {
						html += '<option value="' + data[i].id + '">'
								+ data[i].nombre + '</option>';
					}

				}
				html += '</option>';
				$('#ciu').html(html);
			});
			//.log("pais onchange")   	
		}
		/* $('select#pais').on('change', function() {
		  alert( this.value );
		}); */
	</script>
</body>
</html>